Validator_Claimer/node_modules
Validator_Claimer/artifacts
Validator_Claimer/artifacts-zk
Validator_Claimer/cache
Validator_Claimer/cache-zk
Validator_Claimer/.env
Validator_Claimer/contracts/airdrop
Validator_Claimer/deploy/deployAirdrop.ts

Escrow/node_modules
Escrow/artifacts
Escrow/artifacts-zk
Escrow/cache
Escrow/cache-zk
Escrow/.env
Escrow/.openzeppelin

VC/node_modules
VC/artifacts
VC/artifacts-zk
VC/cache
VC/cache-zk
VC/.env
VC/contracts/testOnly
VC/contracts/VCRegistryV2.sol

Auth3 
.env
artifacts
artifacts-zk
cache
cache-zk
node_modules
typechain-types
.DS_Store
